<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.mh" android:versionCode="1" android:versionName="1.0">
	<application android:icon="@drawable/icon"
		android:label="@string/app_name">
		<activity android:name=".activity.MainView" android:label="@string/app_name"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".activity.EditClass">
		</activity>

		<receiver android:name=".widget.ClassSheduleWidget">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"></action>
				<action android:name="com.mh.updateWidgetAction"></action> 
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/widget_info">
			</meta-data>
		</receiver>
		<service android:name=".widget.service.UpdateWidgetService" />
	</application>
	<uses-sdk android:minSdkVersion="7" />

</manifest> 